
<!DOCTYPE html>
<html>
<head>
    <style>

body{
    font-family: Arial, sans-serif;
    margin:40px;
    background:#f4f6f9;
}

h2{
    margin-top:30px;
}

.card-container{
    display:flex;
    gap:20px;
    margin-bottom:25px;
}

.sensor-card{
    padding:20px;
    border-radius:10px;
    width:180px;
    text-align:center;
    box-shadow:0 3px 8px rgba(0,0,0,0.1);
}

.temp-card{
    background:#ffe5e5;
}

.ph-card{
    background:#e5ffe8;
}

.turb-card{
    background:#e5edff;
}

button{
    padding:6px 12px;
    margin:4px;
    border:none;
    border-radius:5px;
    background:#4a6cf7;
    color:white;
    cursor:pointer;
}

button:hover{
    background:#3656d4;
}

input{
    padding:5px;
    margin:4px;
}

canvas{
    background:white;
    border-radius:8px;
    padding:10px;
}


</style>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <title>Sensor Graph</title>
</head>

<body>

<h1>Water Quality Monitoring Dashboard</h1>
<p>Real-time sensor data visualization (Temperature, pH, Turbidity)</p>
<div class="card-container">

<div class="sensor-card temp-card">
<h3>🌡 Water Temperature</h3>
<h2 id="tempValue">-- °C</h2>
</div>

<div class="sensor-card ph-card">
<h3>🧪 pH Level</h3>
<h2 id="phValue">--</h2>
</div>

<div class="sensor-card turb-card">
<h3>💧 Turbidity</h3>
<h2 id="turbValue">-- NTU</h2>
</div>

</div>

<div style="margin-bottom:20px; padding:15px; background:white; border-radius:8px; width:300px; box-shadow:0 2px 6px rgba(0,0,0,0.1);">
<h3>Water Quality Status</h3>
<h2 id="waterStatus">Checking...</h2>
</div>

<h3>Quick Time Filters</h3>

<button onclick="lastMinutes(5)">Last 5 Min</button>
<button onclick="lastMinutes(30)">Last 30 Min</button>
<button onclick="lastMinutes(60)">Last Hour</button>
<button onclick="todayData()">Today's Data</button>

<br><br>
<label>Start Date:</label>
<input type="date" id="startDate">

<label>Start Time:</label>
<input type="time" id="startTime">

<br><br>

<label>End Date:</label>
<input type="date" id="endDate">

<label>End Time:</label>
<input type="time" id="endTime">

<br><br>

<button onclick="loadData()">Load Data</button>

<br><br>
<div class="graph-container">

<div class="graph-box">
<h3>Temperature Trend</h3>
<canvas id="tempChart"></canvas>
</div>

<div class="graph-box">
<h3>pH Level Trend</h3>
<canvas id="phChart"></canvas>
</div>

<div class="graph-box">
<h3>Turbidity Trend</h3>
<canvas id="turbidityChart"></canvas>
</div>

</div>


<script>
function formatDate(date){

    let year = date.getFullYear();
    let month = String(date.getMonth()+1).padStart(2,'0');
    let day = String(date.getDate()).padStart(2,'0');

    let hours = String(date.getHours()).padStart(2,'0');
    let minutes = String(date.getMinutes()).padStart(2,'0');

    return {
        date: `${year}-${month}-${day}`,
        time: `${hours}:${minutes}`
    }
}

function lastMinutes(mins){

    let now = new Date();
    let past = new Date(now.getTime() - mins*60000);

    let start = formatDate(past);
    let end = formatDate(now);

    document.getElementById("startDate").value = start.date;
    document.getElementById("startTime").value = start.time;

    document.getElementById("endDate").value = end.date;
    document.getElementById("endTime").value = end.time;

    loadData();
}

function todayData(){

    let now = new Date();

    let start = formatDate(new Date(now.getFullYear(), now.getMonth(), now.getDate(), 0, 0));
    let end = formatDate(now);

    document.getElementById("startDate").value = start.date;
    document.getElementById("startTime").value = start.time;

    document.getElementById("endDate").value = end.date;
    document.getElementById("endTime").value = end.time;

    loadData();
}
const ctx = document.getElementById('tempChart').getContext('2d');

const chart = new Chart(ctx, {
    type: 'line',
    data: {
        labels: [],
        datasets: [{
            label: 'Temperature',
            data: [],
            borderWidth: 2,
            pointRadius: 2,
            pointHoverRadius: 4,
            borderColor: "red",
            backgroundColor: "rgba(255,0,0,0.2)"
        },
        {
            label: 'Temp Limit (35°C)',
            data: [],
            borderDash: [5,5],
            borderColor: "black",
            pointRadius: 0

    }]
    },
    options: {
    scales: {
        x: {
            ticks: {
                maxTicksLimit: 10
            }
        }
    }
}
});

const phCtx = document.getElementById('phChart').getContext('2d');

const phChart = new Chart(phCtx, {
    type: 'line',
    data: {
        labels: [],
        datasets: [{
            label: 'pH',
            data: [],
            borderWidth: 2,
            pointRadius: 2,
            pointHoverRadius: 4,
            borderColor: "green",
            backgroundColor: "rgba(0,255,0,0.2)"
        }, 
        {
            label: 'Min Safe pH (6.5)',
            data: [],
            borderDash: [5,5],
            borderColor: "orange",
            pointRadius:0
       },
       {
        label: 'Max Safe pH (8.5)',
        data: [],
        borderDash: [5,5],
        borderColor: "orange",
        pointRadius:0
      }]
    },
    options: {
    scales: {
        x: {
            ticks: {
                maxTicksLimit: 10
            }
        }
    }
}
});

const turbCtx = document.getElementById('turbidityChart').getContext('2d');

const turbChart = new Chart(turbCtx, {
    type: 'line',
    data: {
        labels: [],
        datasets: [{
            label: 'Turbidity',
            data: [],
            borderWidth: 2,
            pointRadius: 2,
            pointHoverRadius: 4,
            borderColor: "blue",
            backgroundColor: "rgba(0,0,255,0.2)"
        }]
    },
    options: {
    scales: {
        x: {
            ticks: {
                maxTicksLimit: 10
            }
        }
    }
}
});

function loadData(){

    let startDate = document.getElementById("startDate").value;
    let startTime = document.getElementById("startTime").value;
    let endDate = document.getElementById("endDate").value;
    let endTime = document.getElementById("endTime").value;

    let url = "/data/";

    console.log("Start Date:", startDate, "Start Time:", startTime);
    console.log("End Date:", endDate, "End Time:", endTime);

    if(startDate && startTime && endDate && endTime){
        let start = `${startDate}T${startTime}:00`;
        let end = `${endDate}T${endTime}:00`;
        url += `?start=${start}&end=${end}`;
        console.log("Fetching URL:", url);
    } else {
        console.log("Some fields are missing, fetching all data");
    }

    fetch(url)
    .then(response => response.json())
    .then(data => {
        console.log("Data received:", data);

        chart.data.labels = data.labels;
        chart.data.datasets[0].data = data.temps;

            // Temp threshold line
        chart.data.datasets[1].data = data.labels.map(() => 35);

        phChart.data.labels = data.labels;
        phChart.data.datasets[0].data = data.ph;
        phChart.data.datasets[1].data = data.labels.map(() => 6.5);
        phChart.data.datasets[2].data = data.labels.map(() => 8.5);



        

        turbChart.data.labels = data.labels;
        turbChart.data.datasets[0].data = data.turbidity;

        chart.update();
        phChart.update();
        turbChart.update();

         // UPDATE SENSOR CARDS
        if(data.temps.length > 0){
            document.getElementById("tempValue").innerText =
                data.temps[data.temps.length-1] + " °C";

            document.getElementById("phValue").innerText =
                data.ph[data.ph.length-1];

            let turb = data.turbidity[data.turbidity.length-1];

            if(turb == 1){
            document.getElementById("turbValue").innerText = "CLEAR ✅";
            }else{
            document.getElementById("turbValue").innerText = "TURBID ⚠";
            }
        }

    if(data.temps.length > 0){

    let temp = data.temps[data.temps.length-1];
    let ph = data.ph[data.ph.length-1];
    let turb = data.turbidity[data.turbidity.length-1];

    if(ph >= 6.5 && ph <= 8.5 && turb==0 && temp < 35){
        document.getElementById("waterStatus").innerText = "SAFE 🟢";
    }else{
        document.getElementById("waterStatus").innerText = "UNSAFE 🔴";
    }

}

        
    // SHOW ALERT
   if(data.alert && data.alert !== lastAlert){
    alert(data.alert);
    lastAlert = data.alert;
}

    })
    .catch(error => console.error('Error fetching data:', error));
}
let lastAlert = null;
loadData();
setInterval(loadData, 5000);//refreshes graph every 5 secs without pressing button...Automatic refresh

</script>




</body>
</html>